.progress-bar-container {
  position: relative;
  background-color: rgba(255, 255, 255, 0.07);
  height: 15px;
  border-radius: 8px;
  margin: 20px;
}

.progress-bar-percent {
  transition: 0.15s;
  border-radius: 8px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #d7b792;
}

.progress-bar-text-container {
  position: relative;
  height: 100%;
}

.progress-bar-text {
  font-family: PingFangSC-Regular;
  position: absolute;
  color: #131114;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9px;
  white-space: nowrap;
}
